<div class="modal fade show d-block" tabindex="-1" *ngIf="show" style="background-color: rgba(0,0,0,0.5);">
  <div class="modal-dialog">
    <div class="modal-content border-0">
      
      <div class="modal-header" [ngClass]="getHeaderClass()">
        <h5 class="modal-title">{{ title }}</h5>
        <button type="button" class="btn-close" (click)="close()"></button>
      </div>

      <div class="modal-body">
        <p>{{ message }}</p>
      </div>

      <div class="modal-footer">
        <ng-container *ngIf="type === 'confirm'; else closeButton">
          <button type="button" class="btn btn-primary" (click)="confirm()">OK</button>
          <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
        </ng-container>

        <ng-template #closeButton>
          <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
        </ng-template>
      </div>

    </div>
  </div>
</div>
