<div class="login-container">
  <div class="login-wrapper">
    <h2 class="role-title">{{ iam | translate }} {{ hoveredRole|translate}}{{"..."}}</h2>

    <div class="login-grid">
      <div
        class="login-card"
        *ngFor="let module of modules"
        tabindex="0"
        (click)="navigateTo(module.path)"
        (mouseenter)="onHover(module.labelKey)"
        (mouseleave)="clearHover()"
      >
        <span class="module-label">{{ module.labelKey | translate }}</span>
      </div>
    </div>
  </div>
</div>
